snippet exec "Exec=env QT_QPA_PLATFORM=xcb Telegram -- %u"
	Exec=env QT_QPA_PLATFORM=xcb Telegram -- %u

snippet exec "Exec=env QT_IM_MODULE=fcitx SDL_IM_MODULE=fcitx GLFW_IM_MODULE=ibus /opt/wechat/wechat %U"
	Exec=env QT_IM_MODULE=fcitx SDL_IM_MODULE=fcitx GLFW_IM_MODULE=ibus /opt/wechat/wechat %U
