snippet head "head~"
	# 工作安排

	## 今日工作

	- [ ] ${1}
	- [ ] ${2}

	## 昨日未完成工作

	## 记录

snippet td "todo list"
	- [ ] ${1}

snippet rd "done list"
	- [x] ${1}

snippet bd "bold"
	**${1}**

snippet it "italic"
	*${1}*

snippet bi "bold & italic"
	***${1}***
